@{
    ViewData["Title"] = "Home Page";
}

 <!-- Jumbotron -->
  <div class="jumbotron text-center py-3">
    <h3 class="text-center">Join Our Research Team!</h3>
    <p class="lead">CSIRO is seeking talented individuals for research in Machine Learning and Data Science.</p>
  </div>

  <!-- About Section -->
  <section id="about" class="container mt-5 py-5">
    <div class="row">
      <div class="col-lg-6">
        <h4>About CSIRO</h4>
        <p>CSIRO is one of the popular research organizations in Australia, known for its groundbreaking work in various scientific fields.</p>
      </div>
      <div class="col-lg-6">
        <h4>Research Focus</h4>
        <p>We are currently focusing on studying the causality rate caused by the vaccination of COVID-19 in Australia.</p>
      </div>
    </div>
  </section>

  <!-- Opportunity Section -->
  <section id="opportunity" class="bg-light container-fluid py-3">
    <div class="container">
      <h4 class="text-center">Research Opportunity</h4>
      <p class="text-center">We are looking for highly skilled individuals in Machine Learning and Data Science to contribute to our research on COVID-19 vaccination causality.</p>
    </div>
  </section>

  <!-- Apply Section -->
  <section id="apply" class="container mt-5 py-3">
    <div class="text-center">
      <h4>Apply Now!</h4>
      <p>If you are passionate about research and want to make a difference, login and apply now to join our team.</p>
    </div>
  </section>