@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in tempus neque, nec euismod ex. Phasellus orci ex, ultrices ut tincidunt et, auctor ut lectus. Pellentesque eu blandit odio. Nullam imperdiet elementum est, a accumsan nibh sollicitudin vel. Etiam non ornare massa, a pretium metus. Pellentesque et ligula eu diam facilisis ultrices eget id metus. Suspendisse tincidunt molestie venenatis. Etiam varius vestibulum orci, commodo dictum nisi sollicitudin in. Suspendisse posuere tellus et augue porta ornare. Sed viverra molestie fermentum. Suspendisse sed consequat ligula, tempus gravida odio. Etiam diam nisl, tempus in erat at, aliquam euismod orci. Aenean ut gravida arcu. Etiam ornare lacus facilisis, egestas orci ut, pulvinar nulla. Phasellus vel rutrum neque.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in tempus neque, nec euismod ex. Phasellus orci ex, ultrices ut tincidunt et, auctor ut lectus. Pellentesque eu blandit odio. Nullam imperdiet elementum est, a accumsan nibh sollicitudin vel. Etiam non ornare massa, a pretium metus. Pellentesque et ligula eu diam facilisis ultrices eget id metus. Suspendisse tincidunt molestie venenatis. Etiam varius vestibulum orci, commodo dictum nisi sollicitudin in. Suspendisse posuere tellus et augue porta ornare. Sed viverra molestie fermentum. Suspendisse sed consequat ligula, tempus gravida odio. Etiam diam nisl, tempus in erat at, aliquam euismod orci. Aenean ut gravida arcu. Etiam ornare lacus facilisis, egestas orci ut, pulvinar nulla. Phasellus vel rutrum neque.</p>
</div>
