@model cisiro.ViewModels.LoginViewModel


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    @Html.ActionLink("Don't have an account? Register", "Register", "Account", new { @class = "btn btn-primary text-center" })
      

                <div class="card-body border-2">
                    <form method="Post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                       
                                    <label asp-for="Email" class="form-label">Email</label>
                                
                                    <input asp-for="Email" id="id1" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                            
                           
                           
                                    <label asp-for="Password" class="form-label">Password</label>
                                
                                    <input asp-for="Password" id="id2" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                              
                                    <div class="text-center mb-3">
                                        <button class="btn btn-primary mt-3">login</button>

                                    </div>          
                                    <div class="">
                                        @Html.ActionLink("Forgot Password? Reset here", "forgotPassword")
                                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>