<div class="container mt-5">
    <div class="alert alert-danger w-50 mx-auto" role="alert">
        You don't have access this resources
        @Html.ActionLink("<<< Go back", "index", "Home", new { @class = "btn btn-primary text-center" })
    </div>
</div>
            
